@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.pagination {
  display: flex;
  margin-top: 40px;

  &__prev,
  &__next {
    width: 50%;
  }

  &__prev {
    text-align: left;
  }

  &__next {
    text-align: right;
  }

  &__prev-link,
  &__next-link {
    color: $color-link;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.2s ease;

    &:hover,
    &:focus {
      color: $color-text;
    }

  }

  &__prev-link--disable,
  &__next-link--disable {
    pointer-events: none;
    color: $color-disabled;
  }

}
