@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.author {
  margin: 24px 0 48px;
  padding: 20px 0 0;
  border-top: 1px solid $color-border;
  color: $color-text-secondary;
  font-size: 15px;
  line-height: 1.6;

  &__bio {
    margin: 0;

    &-twitter {
      display: block;
      margin-top: 4px;
      color: $color-text;

      &:hover,
      &:focus {
        color: $color-link;
      }

    }

  }

}
