@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.post {
  &__footer,
  &__comments {
    box-sizing: border-box;
    max-width: $layout-post-width + $layout-gutter-sm * 2;
    margin: 0 auto;
    padding: 0 $layout-gutter-sm;
  }

  &__footer {
    margin-top: 56px;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 28px 0 0;
    padding: 20px 0 0;
    border-top: 1px solid $color-border;
  }

  &__nav-link {
    margin: 4px 0;
    color: $color-link;
    font-size: 15px;
    font-weight: 600;

    &:hover,
    &:focus {
      color: $color-text;
    }

  }

}

@include breakpoint-md {
  .post {
    &__footer,
    &__comments {
      max-width: $layout-post-width;
      padding: 0;
    }

  }

}
